[submodule ".registry"]
	path = .registry
	url = https://github.com/adatar-do/adatar-do.r-universe.dev
	branch = HEAD
[submodule "Dmisc"]
	path = Dmisc
	url = https://github.com/dnldelarosa/Dmisc
[submodule "datafaro"]
	path = datafaro
	url = https://github.com/datafaro/datafaroR
[submodule "sfDR"]
	path = sfDR
	url = https://github.com/adatar-do/sfDR
